<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery - Kalyani Ice Cream Parlour</title>
    <link rel="stylesheet" href="css/gallery.css" />
  </head>
  <body>
    <!-- Navbar (Include your navbar HTML) -->
    <%- include('includes/navbar') %>

    <!-- Gallery Section -->
    <section class="gallery-section">
      <div class="container">
        <h2 class="gallery-heading">
          Made with love and care, just at Kalyani food products!!
        </h2>
        <p class="gallery-description">
          Take a peek into our kitchen and factory where the magic happens! From
          the finest ingredients to the perfect freeze, our ice cream and ice
          lollies are crafted with care, precision, and passion. Explore the
          process that brings these sweet delights to life.
        </p>
        <!-- Gallery Grid -->
        <div class="gallery-grid">
          <div class="gallery-item">
            <img
              src="images/gallery/ICE LOLLY FACTRY .jpg"
              alt="Ice Cream 1"
              class="gallery-img"
            />
            <p class="image-caption">ICE LOLLY FACTRY</p>
          </div>
          <div class="gallery-item">
            <img
              src="images/gallery/KALYANI ICE CREAM PALOUR 02 .jpg"
              alt="Ice Cream 2"
              class="gallery-img"
              style="margin: auto"
            />
            <p class="image-caption">KALYANI ICE CREAM PALOUR</p>
          </div>
          <div class="gallery-item">
            <img
              src="images/gallery/KAYANI ICE CREAM PARLOUR 01.jpg"
              alt="Ice Cream 3"
              class="gallery-img"
            />
            <p class="image-caption">KAYANI ICE CREAM PARLOUR</p>
          </div>
          <div class="gallery-item">
            <img
              src="images/gallery/RO FILTER WATER PLANT.jpg"
              alt="Ice Cream 4"
              class="gallery-img"
            />
            <p class="image-caption">RO FILTER WATER PLANT</p>
          </div>
          <div class="gallery-item">
            <img
              src="images/gallery/SUGAR FILTER PLANT .jpg"
              alt="Ice Cream 4"
              class="gallery-img"
            />
            <p class="image-caption">SUGAR FILTER PLANT</p>
          </div>

          <br />
        </div>
        <div class="menu-card menu-card-1">
          <img
            src="images/new/menu card 01.jpg"
            alt="Kalyani Menu Card 1"
            class="menu-card-img"
          />
          <p class="image-caption">KALYANI MENU CARD</p>
        </div>
      </div>
    </section>

    <!-- Footer (Include your footer HTML) -->
    <%- include('includes/footer') %>
  </body>
</html>
